# Ir agregando los node_modules de cada microservicio.GitHub no los quiere -_-
node_modules
auth/node_modules
client/node_modules
common/node_modules
nats-test/node_modules
tickets/node_modules
orders/node_modules